<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="alrazy-title" data-splitting>You have Logged in</div>
    <script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
    <button  (click)="Logout()" type="submit" class="btn" style="margin-left: 25%; margin-top: 15%; color: white;">Logout</button>
    <script>
      Splitting();
    </script>
  </body>
</html>
